.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid green;
}

.logo{
    width: 120px;
}

.nav-items > ul{
    display: flex;
    list-style: none;
    font-size: 18px;
}

.nav-items > ul > li{
    padding: 10px;
}

.res-card{
    width: 300px;
    border-radius: 20px;
    padding: 12px;
    margin: 13px;
    border: 0px solid lightgray; 
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid lightgray; 
}
.res-logo{
    width: 100%;
    border-radius: 18px;
}

.res-container{
    display: flex;
    flex-wrap: wrap ;
}
.body{
    margin: 5% 15%;
}